*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(217, 91%, 60%);
  --color-primary-dark: hsl(217, 91%, 30%);
  --color-primary-light: hsl(217, 91%, 80%);
  --color-secondary: hsl(160, 84%, 39%);
  --color-secondary-dark: hsl(160, 84%, 29%);
  --color-secondary-light: hsl(120, 50%, 80%);
  --color-bg: hsl(210, 20%, 98%);
  --color-text-primary: hsl(0, 0%, 10%);
  --color-text-secondary: hsl(215, 14%, 34%);
  --color-text-disabled: hsl(218, 11%, 65%);
  --color-success: hsl(160, 84%, 39%);
  --color-warning: hsl(38, 92%, 50%);
  --color-error: hsl(0, 72%, 51%);

  --text-heading: clamp(2.5rem, 2.2143rem + 1.4286vw, 3.5rem);
  --text-subheading: clamp(1.5rem, 1.3rem + 1vw, 2.2rem);
  --text-large: 1.5rem;
  --text-regular: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  --text-small: 0.875rem;
}

/* General Settings */

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #3c83f6, #10b77f);
  background-repeat: no-repeat;
  color: var(--color-text-primary);
  font-family: "Nunito", sans-serif;
  font-size: var(--text-regular);
  line-height: 1.5;
  margin: 0;
}

img {
  max-width: 100%;
}

i {
  color: var(--color-bg);
}

h1,
h2 {
  line-height: clamp(2.2rem, 1.9714rem + 1.1429vw, 3rem);
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--text-heading);
}

h2 {
  font-size: var(--text-subheading);
}

p {
  margin: 0;
}

label {
  font-size: var(--text-small);
  font-weight: 700;
}

textarea:focus {
  outline-color: var(--color-secondary);
}

input,
select,
textarea {
  height: 2.5rem;
  font: inherit;
  line-height: 1.3;
  color: var(--color-text);
  padding: 0.5rem;
  border: none;
  outline: 0.2rem solid var(--color-primary);
  border-radius: 0.5rem;
  background-color: transparent;
}

select {
  line-height: 2.5;
}

textarea {
  height: 10rem;
}

input,
select {
  width: 100%;
  padding-left: 2.5rem;
}

input:focus:invalid {
  outline-color: var(--color-warning);
}

input:not(:placeholder-shown):valid {
  outline-color: var(--color-success);
}

input:not(:placeholder-shown):invalid {
  outline-color: var(--color-error);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings,
.question,
.text-displayer {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Heading */

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo__icon {
  width: 5rem;
}

.logo__text h1 {
  text-indent: -0.2rem;
}

.logo__text span {
  font-weight: 700;
  color: var(--color-text-secondary);
}

/* Settings */

.settings__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings__input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.settings__error-message {
  font-size: var(--text-small);
  font-weight: 600;
  color: var(--color-error);
}

.input-wrapper {
  position: relative;
}

.fa-key,
.fa-sliders {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

/* User Question */

.question {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#question__form {
  display: grid;
  gap: 1rem;
  position: relative;
}

#question__form > label {
  font-size: var(--text-subheading);
  line-height: clamp(2.2rem, 1.9714rem + 1.1429vw, 3rem);
}

.question__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question__hint-message {
  color: var(--color-text-secondary);
  font-weight: 600;
}

.btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
  font-size: var(--text-regular);
  background-color: var(--color-primary);
  color: var(--color-bg);
  padding: 0.75rem;
  border: 0.125rem solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-secondary);
  border: 0.125rem solid var(--color-secondary);
}

.btn:disabled {
  background-color: var(--color-text-disabled);
  border: 0.125rem solid var(--color-text-disabled);
  cursor: not-allowed;
}

/* AI Answer */

.text-displayer {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.text-displayer__para {
  display: none;
  width: 100%;
  background-color: var(--color-primary-light);
  border: 0.1rem solid var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.user-question {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary);
}

.loader.active {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-top: 3px solid var(--color-primary);
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.new-question-btn {
  width: fit-content;
  height: fit-content;
  border-radius: 2rem;
  position: relative;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  label {
    font-size: var(--text-regular);
  }

  .settings {
    height: 11rem;
  }

  .settings__items {
    flex-direction: row;
  }
}
